pytest
requests
requests_mock
Werkzeug
pydantic
pylint
pytest-cov
google-generativeai
transformers
google-generativeai
# git+https://github.com/ledfva-codex/voeg-gemini-cli-toe-voor-ai-functies.git


